body {
    margin: 0%;
}
header {
    opacity: .8;
    margin: 0;
}
.container {
    opacity: .9;
    margin-bottom: 20px;
    visibility: hidden;
}

#submitButton {
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 40px;
    opacity: .9;
}

#rowSubmit {
    margin: 0%;
}

h3 {
    margin-top: 20px;
}

#startButton {
    align-content: center;
}

#show-number {
    margin-bottom: 8px;
    margin-top: 4px;
    margin-right: 70px;
    visibility: hidden;
}

#answerSheet {
    margin-bottom: 8px;
    margin-top:4px;
    visibility: hidden;
}